
html {
	padding: 0;
	margin: auto;
	height: 100%;
	background-image: url("../images/contemporary_china.png");
	background-repeat: repeat;
}
body {
	margin: 0 auto;
	height: 100%;
	
}
.center {
	margin: 10% 25% 0 25%;
	padding: 20px;
	height: 60%;
}
.container {
	height: 55%;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
}
.titlePage{
	font-size: 40px;
}
#logo {
	margin: 0 auto;
}
#name input[type="text"] {
	width: 60%;
	min-width: 225pt;
}
.subfeatures {
	margin: 0 25% 0 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.feature {
	display: flex;
	text-align: center;
	flex-direction: row;
	padding-top: 1pc;
	padding-bottom: 1pc;
}
.userInput {
	margin-left: auto;
	min-width: 140pt;
}
.title {
	margin-right: auto;
	min-width: 140pt;
}
.userInput select {
	min-width: 130pt;
}
